body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;}

nav {
  height: 60px;
  text-transform: uppercase;
  color: #fff;
  flex-direction: row;
  color: green;
}

nav li {
  list-style-type: none;
}


/* Link header */
  #navbar {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 60px;
  /*background-image: url(../images/landingpage2.jpg);*/
  /*background-image: url(../images/invisible70.png);*/
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.border {
  border: solid;
  border-color: #fff;
  padding: 6px 10px;
  border-width: thin;
}

#navbar ul {
  width: 855px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 10pt;
  font-family: "open-sans",sans-serif;
}

#navbar li {
  margin-left: 70px;
}

#navbar a, .button a {
  text-decoration: none;
}

/* menu link */
#navbar a:link {
    color: #fff;
}

#navbar a:visited {
  color:#fff;
}

#navbar a:hover {
  color: #f2b91e;
}
#navbar a:active {
  color: #fff;
}

#logo {
  width: 45px;
}

#logo img {
  height: 40px;
}

input {
  border-radius: 4px;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav input[type=text] {
  padding: 10px;
  border: none;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
  }
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 10pt;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: "open-sans",sans-serif;
  margin: 0;
  text-transform: uppercase;
  margin-left: 70px;
}


.navbar a:hover, .dropdown:hover .dropbtn {
  color: #298dc1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image: url(../images/landingpage2.jpg);
  width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 55px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {

}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: white;
}

/*Landingpage*/
.landingpage {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(../images/blur.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: #b5e8d5;
  flex-direction: column;
  color: #fff;

}


/*Floating arrow*/

#arrow {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
  width: 200px;
}

#arrow img {
  height: 30px;
  margin-bottom: 30px;
  animation: float 3s ease-in-out infinite;
  animation: float 3s ease-in-out infinite;
  left: 0;
  bottom: 0;
}

/*easel animation*/
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}

.landingpagescroll {
  display: flex;
  height: 400px;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-size: cover;
  background-image: url(../images/landingpage2.jpg);
  background-attachment: fixed;
  color: #fff;
  font-family: "open-sans",sans-serif;
  flex-direction: column;
}

#description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 700px;
  font-size: 15pt;
}

/*Button*/
.button {
  padding: 10px 24px;
  background-color: #009b8a;
  box-shadow: 0px 10px 10px  rgba(0, 0, 0, 0.16);
  text-decoration: none;
  color: #fff;
}

.button a:link {
    color: #fff;
}

.button a:visited {
  color:#fff;
}

.button a:hover {
  color: #f2b91e;
}

.button a:active {
  color: #fff;
}

.button {
  margin-bottom: 80px;
}

.buttonbook {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

/*Textbox on landingpage*/
#textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 600px;

}

#textbox img {
  height: 600px;
}

#heading {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  height: 300px;
  width: 600px;
  /*background-color: orange;*/
  font-family: "open-sans",sans-serif;
  flex-direction: column;
  text-transform: uppercase;
  margin-left: 75px;
}

#heading h1 {
  padding-top: 70px;
  font-size: 45pt;
  font-weight: 400;
  margin: 0;
  font-weight: 800;
}

#textbox p {
  font-size: 15pt;
  font-family: "open-sans",sans-serif;
  text-transform: uppercase;
}

/*Facilities info section*/
#facilityinfo, #facilityinfotwo, #facilityinfothree, #facilityinfofour, #facilityinfofive, #facilityinfosix, #facilityinfoseven {
  display: flex;
  min-height: 600px;
  background-color: #b5e8d5;
  flex-direction: column;
  color: #fff;
  font-family: "open-sans",sans-serif;
  justify-content: center;
  align-items: center;
}

#facilityinfo {
  justify-content: center;
  align-items: center;
  background-image: url(../images/landingpage.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#facilityinfotwo {
  background-image: url(../images/facilities2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#facilityinfothree {
  /*background-image: url(../images/facilities1.jpg);*/
  background-image: url(../images/facilities3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#facilityinfofour {
  justify-content: center;
  align-items: flex-start;
  background-image: url(../images/esport4.jpg);
  background-size: cover;
  /*background-attachment: fixed;*/
}

#facilityinfofive {
  background-image: url(../images/facilities6.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#facilityinfosix {
  background-image: url(../images/facilities5.jpg);
  background-size: cover;
}


#facilityinfoseven {
  background-image: url(../images/facilities1.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#infocontentcenter, #infocontentright, #infocontentleft {
  display: flex;
  flex-direction: column;
  /*background-color: green;*/
}

#infocontentcenter h1, #infocontentright h2, #infocontentleft h2 {
  text-transform: uppercase;
}

#infocontentcenter h1 {
  font-size: 30pt;
}

#infocontentright h2, #infocontentleft h2 {
  font-size: 25pt;
}

#infocontentright p, #infocontentleft p {
  font-size: 15pt;
}

#infocontentcenter {
  align-items: center;
  text-align: center;
  width: 535px;
}

#infocontentright {
  align-items: flex-end;
  text-align: right;
  width: 535px;
}

#infocontentleft {
  align-items: flex-start;
  text-align: left;
  width: 535px;
}


.wrapper, .wrapperprice, .wrappertown, .wrapperesports {
  display: flex;
  height: 90vh;
  width: 900px;
}

.wrapper {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapperprice {
  flex-direction: row;
  justify-content: center;
  height: 400px;
}

.wrappertown {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indexwrapperright, .indexwrapperleft, .indexwrappercenter, .wrapperbundle {
  display: flex;
  width: 900px;
}


.indexwrapperright {
  justify-content: flex-end;
  align-items: flex-end;
}

.indexwrapperleft {
  align-items: flex-start;
 }

.indexwrappercenter {
  justify-content: center;
  align-items: center;
}

.wrapperesports {
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  height: 800px; 
}

.wrapperbundle {
  margin-top: 100px;
  background-color: yellow;
  height: 400px;
  flex-direction: column;
}

/*Pricing section*/
.pricingsection, .transportationsection, .aboutussection, .bootcampsection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background-image: url(../images/facilities3.jpg);
  background-size: cover;
  background-attachment: fixed;
}



.pricingheading {
  align-items: flex-end;
  justify-content: flex-start;
  display: flex;
  width: 900px;
  height: 200px;
  color: #fff;
  text-transform: uppercase;
}

.pricing {
  height: 350px;
  width: 450px;
  color: #fff;
}

.pricing p {
  margin-top: -20px;
}

.pricing li {
  list-style-type: none;
  margin-left: -40px;
}

.buttondivpricing {
  margin-top: 60px;
}

/*Transportation*/

#maps{
  width: 900px;
  height: 600px;
  background-color: grey;
}

#transportation {

}

/*Town*/

 .town {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(../images/facilities3.jpg);
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column;
  color: #fff;
}


#towncontent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: "open-sans" sans-serif;
  width: 900px;
  height: 100vh;
}

#towncontent h2 {
text-transform: uppercase;
}

#towncontent img {
  width: 900px;
  margin-top: 20px; 
}


/*Esport*/

.esportssection {
  display: flex;
  height: 100vh;
  background-color: #b5e8d5;
  flex-direction: column;
  color: #fff;
  font-family: "open-sans",sans-serif;
  justify-content: center;
  align-items: center;
  background-image: url(../images/facilities3.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.esportscontent {
  color: #fff;
  height: 1200px;
  width: 900px;
}

.esportscontent h1 {
  margin-top: -20px;
  text-transform: uppercase;
}

.esportscontent img {
  margin-top: 50px;
  width: 900px;
  height: auto;
}

.esportscontent p {
  margin-top: 50px;
}


.footer {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.some {
  margin-right: 50px;
}

.some img {
  height: 40px;
}



/*About us*/

.aboutussectiontwo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 200px;
  width: 100%;
  flex-direction: column;
  background-image: url(../images/facilities3.jpg);
  background-size: cover;
  background-attachment: fixed; 
}

.aboutusinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  width: 900px;
}

.aboutusul {
  width: 300px;
}

.aboutusul li {
  list-style-type: none;
  color: #fff;
}

/*Bootcamp*/
.bootcampsectiontwo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  background-image: url(../images/facilities3.jpg);
  background-size: cover;
  background-attachment: fixed;
}


#bundlecontent {
  display: flex;
  background-color: blue;
  width: 900px;
  height: 200px;
  justify-content: space-between;
}


.bundles {
  background-color: orange;
  width: 200px;
}

.bundles p {
  margin-left: 10px;
  color: #fff;
  margin-bottom: 50px;
}

.wrapperbundle h1 {
  text-transform: uppercase;
  color: #fff;
}